# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage
/nginx/default.conf

# misc
.vscode
.DS_Store
.env*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/uploads/*
server/.prettierignore
server/.prettierrc
nginx/default.conf
nginx/default.conf
