<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <h1>LOGIN</h1>
        <form method="post" action="/login">
        ID <input type="text" name="User_id">
        <br>
        PASSWORD <input type="text" name="User_password"><br>
        ID 저장<input type="checkbox" value="checked" name="rememberId"><br>
        <input type="submit" value="LOGIN">
        </form>
  </body>
</html>