#padding-zero {
  padding-right: 0;
  padding-left: 0;
}
#backColor {
  background-color: e0f6ff;
}
#bold {
  font-weight: 600;
}
#text_yellow {
  display: inline;
  margin-left: 150px;
  font-size: 60px;
  color: #bfbf34;
}
#text_black {
  display: inline;
  margin-left: 150px;
  font-size: 60px;
}
#text_green {
  display: inline;
  margin-left: 150px;
  font-size: 60px;
  color: #65b67f;
}
#text_blue {
  display: inline;
  margin-left: 150px;
  font-size: 60px;
  color: #488dc0;
}
#text_red {
  display: inline;
  margin-left: 150px;
  font-size: 60px;
  color: #f9816c;
}
#text_gray {
  color: #727272;
  display: inline;
  font-size: 28px;
}
